<%- include("../partials/admin/header") %>

  <div class="main-panel">
    <div class="content-wrapper">
      
      <div class="row">


        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Banner List</h4>
              <a href="/admin/banner">Add Banner</a>
             

              <div class="table-responsive">

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Sl No</th>
                      <th>Images</th>
                      <th>Title</th>
                      <th>Sub title</th>
                      <th>Description</th>
                      
                      <th>Status</th>
                      <th>Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    <% banner.forEach((item,index )=> { %>

                      <tr>
                        <td>
                          <%= index+1 %>
                        </td>
                        <td>
                           
                                 
                                <img src="data:<%= item.image.contentType %>;base64,<%= item.image.data.toString('base64') %>" alt="">
                          
                        </td>
                        <td>
                            <%= item.title %>
                        </td>
             
                        <td><%= item.subTitle %></td>
                        
                        <td>
                         <%= item.description %>
                      </td>
                      
                        
                       
                          <!--if User Block then this display -->
                
                          <% if (item.isBlock === true) { %>
                            <td>
                             <label class="text-danger">Deactive</label>
                           </td>
                            <td>
                             <a href="/admin/editbanner/<%= item._id %>/Edit " class="btn btn-primary">Edit</a>
                             <a href="/admin/productlist/<%= item._id %>/Active" class="btn btn-success">Active</a>
                            </td>
                           <%} else {%>
                             <td>
                               <label class="text-success">Active</label>
                             </td>
                              <td>
                               <a href="/admin/editbanner/<%= item._id %>/Edit %>" class="btn btn-primary">Edit</a>
                               <a href="/admin/editbanner/<%= item._id %>/Deactive" class="btn btn-danger">Deactive</a>
                              </td>
                          <% }%>
                           
                            
                        
                           
                           
                         </tr>

                         <% }) %>
                    </tbody>
                  </table>
               
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>