<%- include("../partials/admin/header") %>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">

          <div class="card-body">
            <h4 class="card-title">Edit Category</h4>
            <a href="/admin/Category-management">Back to Category</a>
            </p>
          </div>
        </div>
      </div>
      <% if(typeof message !=='undefined' ){ %>
      <div class="alert alert-danger " style="font-size :20px">
        <%= message %>
      </div>
      <% } %>
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <form id="catagoryForm" action="/admin/editCatagory" method="post" enctype="multipart/form-data">
              <input type="hidden" value="<%= catagory._id %>" name="id">
              <div class="form-group">

                <label>images upload :</label>
                <div class="input-group col-xs-12">
                  <input type="file" id="image" name="image"  class="form-control file-upload-info">


                

                </div>
                <div id="imageError" style="color: red;"></div>
              </div>
              <div style="position: relative;">
                <input type="hidden" id="imagePresent" name="imagePresent" value="<%= catagory.image ? 'true' : 'false' %>">
                <!-- Display the image -->
                <img
                    src="data:<%= catagory.image.contentType %>;base64,<%=catagory.image.data.toString('base64') %>"
                    alt="<%= catagory.product_name %>"
                    style="width: 180px;height: 180px;">

                <!-- Add a "Delete" button (X button) -->
              
            </div>

              <div class="form-group">
                <label for="exampleInputCity1">Category Name :</label>
                <input type="text" class="form-control" name="catagoryName"id="catagoryName" value="<%= catagory.categoryName %>" placeholder="Category name" >
                <div id="CategoryNameError" style="color: red;"></div>

              </div>

              <!-- <div class="form-group">
                        <label for="exampleInputCity1">Sub-Category Name :</label>
                        <input type="text" class="form-control" name="SubCategoryname"  id="exampleInputCity1" placeholder="Sub-Category name" required>
                      </div> -->

              <div class="form-group">
                <label for="exampleInputCity1">Description : </label>
                <input type="text" class="form-control" name="description" id="description" value="<%=catagory.description %>" placeholder="enter description" >
                <div id="descriptionError" style="color: red;"></div>

              </div>

              <button type="submit" class="btn btn-primary mb-4">Submit</button>

          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<script>
  const couponForm = document.getElementById("catagoryForm");
  const nameInput = document.getElementById("catagoryName");
  const nameError = document.getElementById("CategoryNameError");

  const description = document.getElementById("description");
  const descriptionError = document.getElementById("descriptionError");

  const imageInput = document.getElementById("image");
  const imageError = document.getElementById("imageError");
  const imagePresentInput = document.getElementById("imagePresent");


 
  function imageValidation() {
    const isImagePresent = imagePresentInput.value === 'true';

    if (!isImagePresent && imageInput.value.trim() === "") {
      imageError.innerHTML = "Please upload Image!";
      return false;
    }

    const selectedFiles = imageInput.files;

    if (!isImagePresent && selectedFiles.length !== 1) {
      imageError.innerHTML = "Please upload exactly one image!";
      return false;
    }

    imageError.innerHTML = "";
    return true;
  }



function nameValidation() {
  if (nameInput.value.trim() === "") {
    nameError.innerHTML = "Please enter category Name!";
    return false;
  } else {
    nameError.innerHTML = "";
    return true;
  }
}

function descriptionValidation() {
  if (description.value.trim() === "") {
    descriptionError.innerHTML = "Please enter Description!";
    return false;
  } else {
    descriptionError.innerHTML = "";
    return true;
  }
}

  couponForm.addEventListener("submit", function(event) {
    event.preventDefault();
    const validations = [
    imageValidation(), nameValidation(),
      descriptionValidation()
      // Add this line
    ];
    const hasErrors = validations.some(validation => validation === false);
    if (!hasErrors) {
      couponForm.submit(); // Trigger the form submission
    }
  });
</script>