<%- include("../partials/admin/header") %>

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">


                            <% if (message !== "" ) { %>
                                <p class="text-danger">
                                  <%= message %>
                                </p>
                                <% } %>
                            <h4 class="card-title">All Catagory</h4>
                            <a href="/admin/addcatagory">Add Category</a>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <% if (Categores.length) { %>
                                        <thead>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Images</th>
                                                <th>Category Name</th>
                                                <th>Description</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% Categores.forEach((Category, index)=> { %>
                                                <tr>
                                                    <td>
                                                        <%= index + 1 %>
                                                    </td>

                                                    <!-- Inside your table row -->
                                                    <td>
                                          
                                                        <% if (Category.image && Category.image.contentType) { %>
                                                            <img src="data:<%= Category.image.contentType %>;base64,<%= Category.image.data.toString('base64') %>"
                                                            style="border-radius: 0; width: 50px; height: 40px;">
                                                            <!-- Handle the case where Categores.image or its contentType property is undefined -->
                                                           <% } %>
                                                          
                                                        
                                                        
                                                    </td>
                                                    <td>
                                                        <%= Category.categoryName %>
                                                    </td>
                                                    <td>
                                                        <%= Category.description %>
                                                    </td>
                                                    <td>
                                                        <% if (Category.isBlock === true) { %>
                                                            <td>
                                                              <label class="text-danger">Deactive</label>
                                                            </td>
                                                            <td>
                                                              <!-- Edit and Activate links for a deleted category -->
                                                              <a href="/admin/Catagory/<%=  Category._id %>/Edit" class="btn btn-primary">Edit</a>
                                                              <a href="/admin/Catagory/<%=  Category._id %>/Activate" class="btn btn-success">Activate</a>
                                                              <!-- Soft Delete link (you can customize the route) -->
                                                             
                                                            </td>
                                                          <% } else { %>
                                                            <td>
                                                              <label class="text-success">Active</label>
                                                            </td>
                                                            <td>
                                                              <!-- Edit and Deactivate links for an active category -->
                                                              <a href="/admin/Catagory/<%=  Category._id %>/Edit" class="btn btn-primary">Edit</a>
                                                              <a href="/admin/Catagory/<%=  Category._id %>/Deactivate" class="btn btn-danger">Deactivate</a>
                                                              <!-- Soft Delete link (you can customize the route) -->
                                                           
                                                            </td>
                                                          <% } %>
                                                          

                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                </table>

                                <% } else { %>
                                    <p>No Categores</p>
                                    <% } %>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>