<%- include("../partials/user/header")  %>
<%- include("../partials/user/navBar")  %>




<section class="hero">
  <div class="hero__slider owl-carousel">
    
    <% banner.forEach(item=>{ %>

    <div class="hero__items set-bg" data-setbg="data:<%= item.image.contentType %>;base64,<%= item.image.data.toString('base64') %>">
          <div class=" container">
      <div class="row">
        <div class="col-xl-5 col-lg-7 col-md-8">
          <div class="hero__text">
            <h6><%= item.title %> </h6>
            <h2><%= item.subTitle %></h2>
            <p><%= item.description %></p>
            <a href="/shop/1" class="primary-btn">Shop now <span class="arrow_right"></span></a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
<% })%>


  </div>
</section>

<br>
<h2 style="text-align: center;font-weight: bold;">New Collections</h2>
<br><br>
<section class="product spad">
  <div class="container">

    <div class="row product__filter">
      <% if (products.length)  { %>
      <% products.forEach((product, index) => { %>
      <div class="col-lg-3 col-md-6 col-sm-6 mix new-arrivals">
        <div class="product__item">
          <div class="product__item__pic set-bg">
            <a href="/shopdetails/<%= product._id %>/details">
              <% if (product.offer > 0) { %>
              <div class="ribbon"><span> Flat <%= product.offer %>%</span></div>
              <% } %>
              <img src="data:<%= product.images[0].contentType %>;base64,<%= product.images[0].data.toString('base64') %>" alt="">
            

            </a>
          </div>
          <div class="product__item__text">
            <h5 class="fw-bold">
              <%=product.product_name%>
            </h5>


            
            <h5> &#8377;<%= product.price %>
            </h5>
            <div class="product__color__select">
              <label for="pc-7">
                <input type="radio" id="pc-7">
              </label>
              <label class="active black" for="pc-8">
                <input type="radio" id="pc-8">
              </label>
              <label class="grey" for="pc-9">
                <input type="radio" id="pc-9">
              </label>


            </div>
            <br>
            <div class="flash-message" id="flash-message">
              Item added to cart!
            </div>

          </div>
        </div>
      </div>
      <% }) %>
      <% } else { %>
      <br>
      <h2>Not Found</h2>
      <% } %>
    </div>
  </div>
</section>

<!-- Product Section End -->





<%- include("../partials/user/footer") %>